<% content_for :title do %>Accueil - SIMP3 <% end %>
<main role="main" class="containtAll">
    <div class="fr-container fr-my-5w">    
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12">
                <h1>SIMP3</h1>
            </div>
        </div>
    </div>

    <div class="fr-container fr-mb-5w">    
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-12">
                <h2 class="fr-my-5w">Questions fréquentes</h2>
                <div class="fr-accordions-group">
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-114">Quels sont les indicateurs MP3 ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-114">

                            <p>Les indicateurs MP3 sont des indicateurs de suivi de la performance d'un service exécutants. Les indicateurs MP3 suivis sur SIMP3 sont accessibles depuis la page <%= active_link_to indicateurs_path do %>Liste des indicateurs MP3<%end%></p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-115">Comment ont été défini les seuils de performance pour les indicateurs ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-115">

                            <p>A compléter</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-116">Qu’est ce que la performance globale et comment est-elle calculée ? </button>
                        </h3>
                        <div class="fr-collapse" id="accordion-116">
                            <p>A compléter</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-117">Je cherche un service exécutant mais il n'est pas dans la liste. Quelles en sont les raisons ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-117">
                            <p>A compléter</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-118">D'où proviennent les données liées aux indicateurs ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-118">
                            <p>A compléter</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-119">À qui les contenus sont-ils accessibles ? </button>
                        </h3>
                        <div class="fr-collapse" id="accordion-119">
                            <p>A compléter</p>
                        </div>
                    </section>
                    <section class="fr-accordion">
                        <h3 class="fr-accordion__title">
                            <button class="fr-accordion__btn" aria-expanded="false" aria-controls="accordion-120">Le marqueur d'un service exécutant est gris. Qu'est-ce que cela signifie ?</button>
                        </h3>
                        <div class="fr-collapse" id="accordion-120">
                            <p>A compléter</p>
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </div>

    <div class="fr-follow">
        <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--middle">
            <div class="fr-col-12">
                <div class="fr-follow__newsletter">
                    <div>
                        <h5 class="fr-h5 fr-follow__title">Une question concernant SIMP3?</h5>
                        <p class="fr-text--sm fr-follow__desc">Si vous rencontrez un problème dans l'utilisation de l'outil, vous pouvez nous envoyer un mail en cliquant sur le bouton ci-contre.</p>
                    </div>
                    <div>
                       <a href="#" class="fr-btn" rel="noopener" target="_blank" title="Nous contacter - nouvelle fenêtre">Nous contacter</a>
                    </div>
                </div>
            </div>
    
        </div>
        </div>
    </div>
</main>