@import 'react-datepicker/dist/react-datepicker';

html{
  height: 100%;
}

body div{
  font-family: Marianne, sans-serif;
  color: var(--text-title-grey);
}
a{
  color: inherit !important; 
  text-decoration:none !important;
  &:hover{
  cursor:pointer;
  text-decoration:none;
  color: inherit; 

  }
}
.fr-btn{
  color: var(--text-inverted-blue-france) !important;
}
.fr-link {
    color: var(--text-action-high-blue-france) !important;
}
.fr-header__brand:hover, .fr-footer__brand:hover{
  background-color:transparent !important;
}
.fr-text-lg{
  font-size:18px;
}
h1, h2{
  position:relative;
}
p{
  margin:0em !important;
}


.align_flex{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  width:100%;
}
.d32{
  height:32px;
}
.d24{
  height:24px;
}
.d12{
  height:12px;
}
.cvert{
  color:#42BAB3;
}
.crouge{
  color: #FF3E14;
}
.cjaune{
  color:#E8CF4E;
}
.cnoir{
  color:#000;
}
.cgris{
  color: #8F8F8F;
}
.tu{
  text-decoration:underline;
}
.tr{
  text-align:right;
}
.tc{
  text-align:center;
}
.w100{
  width:100%;
}
.texte_light{
  font-weight: 300;
}
.pd24{
  padding:24px;
}
.italic{
  font-style: italic;
}
.align_center{
  align-items:center;
}
.loader_box{
  min-height:400px;
}
.loader {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bouton_inactif{
  background-color:#F0F0F0;
  color:#fff;
  font-size:16px;
  padding: 10px 15px;
  border:none;
}

.document-file-input{
  width:80%;
  margin:auto;
  
 
    font-size:14px;
    padding: 25px 35px;
    color:#6A6A6A;
    border: 2px dashed #C4C4C4;
    border-radius:4px;
    width:100%;
    background-color: rgba(196, 196, 196, 0.1);
    text-align:center;
    margin-bottom:30px;
    i{
      color: #F29D53;
      font-size:20px;
      margin-right:5px;
    }
    
    &:hover{
      cursor:pointer;
    }

}


.form_checkbox {
  input, textarea {
  width:100%;
  
  border:none;
  color:var(--text-label-grey) !important;
  font-size:1rem;

  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */

  }
  label {
  color:var(--text-label-grey) !important;
  font-size:1rem !important;
 
  font-family: Marianne, sans-serif;
  
  }
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  transform: translate(14px, 8px) scale(1) !important;
}
.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root{
  padding:1.4px !important;
}
.checkbox_li{
  color:var(--text-label-grey) !important;
  font-size:1rem !important;
  font-family: Marianne, sans-serif; 
  padding-left:10px;
}

.search_checkbox{
margin-top:0.5rem;
border-color:transparent;
  border-radius:0.25rem 0.25rem 0 0;
  width: auto !important;
  min-width:100%;
      background-color: var(--background-contrast-grey);
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
  
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border:none !important;
}


.box_etiquette{
  background-color:#F0F0F0;
  border-radius:8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding:12px;
}

.highcharts-credits{
  color:#fff !important;
  fill: #fff !important;
}
.map_se{
  width:33.3%;
  color:var(--text-title-grey) !important;
  font-size:16px;
  font-weight:bold;
  span{
  color:var(--text-action-high-blue-france) !important;
  }
}

.box_infor{
  background-color: #23EADE;
  border-radius: 50px;
  padding: 4px 8px;
  color:var(--text-title-grey);
  font-size:14px;
  margin-right:5px;
}

.box_indv{
  background-color: rgba(66, 186, 179, 0.2);
  border-radius: 4px;
  padding: 4px;
  color:#42BAB3;
  font-size:14px;
  margin:5px;
  display:inline-block;
  position:relative;
}
.box_indj{
  background-color: rgba(232, 207, 78, 0.2);
  border-radius: 4px;
  padding: 4px;
  color:#E8CF4E;
  font-size:14px;
  margin:5px;
  display:inline-block;
  position:relative;
}
.box_indr{
  background-color: rgba(255, 62, 20, 0.1);
  border-radius: 4px;
  padding: 4px;
  color:#FF3E14;
  font-size:14px;
  margin:5px;
  display:inline-block;
  position:relative;
}
.box_indn{
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px;
  color:#000;
  font-size:14px;
  margin:5px;
  display:inline-block;
  position:relative;
}

.map_legende{
text-align:center;
  color: var(--text-title-grey);
  font-size:10px;
  span{
  margin-right:5px;
  }
}
.react-datepicker__input-container input{
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding:4px 0px;
  font-size:1rem;
  font-family: Marianne !important;
  color: var(--text-title-grey);
  &:hover{
  cursor:pointer;
  }
  &:focus{
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline:none;
  appearance:none;
  }
}

.list_name{
  text-align:left !important;
}

.fr-card-pointer{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0,0.1), 0 8px 16px -16px rgba(0, 0, 0,0.32) !important;
}


.map_date_box{
  width:150px;

  input{
  max-width:150px !important;
  }
}

.button_close{
  font-size:14px;
  font-weight:300;
  color:#8F8F8F;
  background-color:transparent;
}

.box_ind_hover{
  position:absolute;
  left:10px;
  top:5px;
  width:150px;
  border-radius:4px;
  background-color:rgba(255, 255, 255, 0.95);
  color:#1E1E1E;
  z-index:1;
  padding:8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.map_center{
  width:66.7%;
  padding:0 12px;
}
.map{
  height:500px;
  width:100%;
}
.map_component, .indicateurs_component{
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: -moz-inline-flex;
  padding:24px;
  width:100%;
  
}
.indicateurs_search_box{
  width:25% !important;
}
.indicateurs_infos_box{
  width:15% !important;
}
.indicateurs_chart_box{
  width:60%;
  padding:0px 24px;
}
.map_component > div {
  width:75%;
}
.map_box{
  width:25% !important;
}
.map_map{
  width:100%;
  position:relative;
  min-height:600px;
}
.map_infos{
  width:33.3%;
}
.highcharts-button-symbol{
  stroke:#FFF !important;
  fill:#FFF !important;
}
.highcharts-button-box{
  fill:var(--text-action-high-blue-france) !important;
}